/* body {
  margin: 0;
  background-image: url("./images/ori_3763284_1wpbkbk9og5lw7cj28yhds9lcbzghc5db3j4xdtf_12-black-and-white-movie-themed-collage-backgrounds.jpg");
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.add-playlist {
  /* margin: 90px 70px !important; */
  margin-right: 0px !important;
}

.music-segment {
  padding: 40px !important;
}

.playlist-card {
  cursor: pointer;
}

.song-list {
  position: relative;
  margin-left: 30%;
}
.music-components {
  position: relative;
  margin: 110px;
}
.music-header {
  position: absolute;
  top: 25px;
  left: 70px;
}
.play-list-name {
  position: relative;
  display: block;
  padding: 5px;
  border-bottom: solid;
  text-align: left;
  font-size: larger;
  cursor: pointer;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
